/*navbar*/
img.logoImg{
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;
  }
  
  div.subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  div.container-fluid{
    background-color: rgb(145, 110, 36);
    height: 70px;
  }
  
  #navbarScroll{
    background-color: rgb(173, 130, 37);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
  }

  .btnHome{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 15px;

  }

  #navbarScrollingDropdown{
    position: absolute;
    padding-left: 15px;
    padding-top: 2px;
  }


  /*lista de productos*/

#containerCard{
  margin: 15px;
}

#botonLynk{
  text-decoration: none;
  color: black;
}

#cardCU{
  border-color: rgb(235, 192, 1);
}

#widget{
  width: 25px;
  margin-left: 10px;
}

  
  /*detalle del producto*/
  div.sumadorStock{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  div.sumadorStock h4{
    padding: 0 50px 0 50px;

  }
  div.botonCarrito{
    display: flex;
    align-items: center;
    justify-content: center;}

#divInter{
  padding: 15px;
}

    div.botonIrAlCarrito{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


  #containerCard{
    float: left;
  }

  #botonTerminar{
    color: black;
    text-decoration: none;
  }

  #cardDetail{
    border-color: rgb(235, 192, 1);
  }

  .btnAProductos{
  color: black;
  text-decoration: none;
  }


  /*carrito*/

  #divCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    
  }

  a.cardWidget{
    color: black;
    text-decoration: none;
  }

  #contenedorCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #contenedorCarrito div{
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin: 2px;
  }

  #btnBorrarLista{
    width: 15px;
    height: 25px;
  }

  #btnCheckout{
    margin: 15px;
  }

  /*formulario*/

  #divFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #divFormulario div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .btnCheckout{
    text-decoration: none;
    color: white;
  }