img.logoImg{
  width: 150px;
  border-radius: 15px;
  border: 1px solid black;
}


div.subtitulo{
  display: flex;
  flex-direction: column;
  align-items: center;

}


div.container-fluid{
  background-color: rgb(182, 108, 108);
  height: 70px;
}